.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(../img/slider1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../img/slider2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../img/slider3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../img/slider4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../img/slider1.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../img/slider3.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
/* Animation for the title */

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-o-keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-ms-keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
/* Show at least something when animations not supported */

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}
/** Generated by FG **/
@font-face {
    font-family: 'Gotham_Light_Regular';
    src: url('../fonts/Gotham Light Regular.eot');
    src: local('☺'), url('../fonts/Gotham Light Regular.woff') format('woff'), url('../fonts/Gotham Light Regular.ttf') format('truetype'), url('../fonts/Gotham Light Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.scrollToTop{
    width:40px; 
    height:45px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:85%;
    right:40px;
    display:none;
    z-index 999
}
html 
    height 100%
body
    font-family: 'Gotham_Light_Regular';
    height 100%
    position: relative;
    display block
    
img
    max-width: 100%
    height auto
 
.box-navigation
    position fixed
    background-color: #FFF
    width 350px;
    z-index 999
    height 100%
.content-page
    position relative
    margin-left 350px;
    height 100%
    display block
    .cb-slideshow
        padding 0
        position absolute
        margin 0
    .notify
        position absolute
        font-family initial
        font-size 2em
        color #000
        z-index 999
        bottom 0
        right 5%
header
    .logo
        text-align center
        display inline-block
        margin 0 auto
        img 
            padding 1.7em 2em 1.7em 2.7em
    ul
        list-style: none
    .menu
        padding-left 3.5em
        font-family: 'Verdana', sans-serif;
        font-size .75em
        line-height 2.5em
        .sub-menu
            display none
        a
            color #000
            display block
        ul
            padding-left 1.5em
.container
    max-width 100%        

    
.wrapper
    width 85%
.clear
    clear both
.info
    padding-top 5em
    padding-bottom 2em
    overflow hidden
    .title
        text-align right
        font-family 'Gotham_Light_Regular', sans-serif
        font-weight: 100;
    .fancybox img 
        width 100%
.info img
    margin-bottom 1em
.fancybox-overlay
    background: #fff !important
    .fancybox-nav span
        visibility visible
    .fancybox-opened .fancybox-skin
        box-shadow initial
        background: #fff;
    
    .fancybox-nav span, .fancybox-close
        background-repeat no-repeat
        background-size initial
        background-position 0 0
        width: 40px;
        height: 70px;
        top 85%
    .fancybox-close
        top 1em
        right 2em
        height 30px 
        width 30px
        position fixed
        background-image url('../img/close.jpg')
    .fancybox-next 
        right -6em
        span
            background-image url('../img/right.png')
    .fancybox-prev 
        left -6em
        span
            background-image url('../img/left.png')
    .fancybox-title
        position absolute
        bottom: 15em;
        right: -15em;
        h4, p
            margin-top: 0;
            margin-bottom: 0;
            font-family: 'Verdana',sans-serif;
            font-size: .87em;
        h4
            font-family: 'Gotham_Light_Regular';
            font-size: 1.1em;
            color: #000;
a
    color #333
.post-password-form
    font-family: 'Verdana',sans-serif;
    font-size .8em
    color #000
    input
        border 0
        font-family: Verdana, sans-serif;
        padding: 16px 20px;
        border: 2px solid #000;
    input[type="password"]
        border: 2px solid #dadada;
        outline none
    input[type="submit"]
        background-color: #000
        color #fff
.hidden-desktop
    display none
.slick-slide img
    margin 0 auto
.slick-arrow
    border 0
    font-size 0
    height 50px 
    width 50px
    background-repeat no-repeat
    background-position: 0 0
    background-size contain
    background-color: transparent
    position absolute
    top: 45%;
    z-index 9999
    outline none

.slick-arrow.slick-prev    
    background-image: url("../img/left.png");
.slick-arrow.slick-next    
    background-image: url("../img/right.png");
    right 0
.text-center
    text-align center
.info 
    
    .box 
        width 33%
        display inline-block
        position relative
        width 320px
        height 290px
        overflow hidden
        a
            opacity 0
            position absolute
            width 100%
            height 100%
            left 0
            top 0
            transition-duration 0.5s
        a:hover
            opacity 1
        img 
            margin 0 0 0.25em
    .box-info
        font-size .80em
        max-width 550px 
        margin 0 auto
        line-height 2em
        strong
            font-family 'Verdana', sans-serif
        h3 
            font-size 1.9em
            font-family 'Gotham_Light_Regular'
            font-weight 100
            color #000
            text-align center
            margin 2em 0
        p
            font-family 'Gotham_Light_Regular'
            margin-bottom 2em
.contact
    font-family: Verdana, sans-serif;
    font-size .85em
    .form
        color #000
        input[type="text"], input[type="password"], input[type="email"], textarea
            padding: 10px 17px;
            border: 1px solid #e9e9e9;
            background-color: #f6f6f5;
            color: #7f8385;
            font-family: Verdana, sans-serif
            width 100%
        input[type="submit"]
            padding 1.2em 2em
            text-transform: uppercase;
            border 0
            color #fff
            background-color: #000
            font-weight 900
            
.stores
    .title
        text-align left
        font-size 1em
        color #000
    h4, p
        margin 0
    article
        font-size .85em
        margin-bottom 1.8em
        p
            color #A0A0A0
            line-height 1.05em
@media (min-width: 1680px)
    .content-page
        margin-left 15%
    .box-navigation
        width 15%

@media (min-width: 993px)
    .menu-down
        display none;
    header .box-navigation
        display block !important
    
@media (max-width: 1380px)
    .wrapper
        width 100%
    .content-page
        margin-left 20%
    .box-navigation
        width 20%
@media (max-width: 1024px)
    
    header
        .box-navigation
            width 200px
        
    .content-page
        margin-left 200px;

@media (max-width: 992px)
    .hidden-mobile
        display none
    .menu-down
        display block;
        position absolute
        top: 2.5em
        left 2em
    header .logo
        display block
        margin 0 auto
        img 
            padding 1em
    header .box-navigation
        position relative
        width 100%
        padding 0 5%
        .menu > li:last-child a
            border 0
        .menu 
            display none
            margin-top 0
            padding 0
            li > a
                border-bottom 1px solid rgba(0, 0, 0, 0.32)
            li.menu-item-has-children > a:after
                content "\f106"
                font: normal normal normal 14px/1 FontAwesome;
                float right
                margin-top: .35em;
            li.menu-item-has-children > a:focus:after
                content "\f107"
    .content-page
        margin-left 0
        .notify
            bottom 4em
            font-size 1.7em
    .fancybox-overlay
        .fancybox-title
            right 2em
            bottom 10em
        .fancybox-nav span
            top: 0;
            position fixed
            background-size: contain;
            height: 40px;
            width: 40px;
            top: 2em;
        .fancybox-prev span
            left: 1em;
            
        .fancybox-next span
            left: 4em;
            background-position: 0 -2px;
@media (max-width 469px)
    .hidden-desktop
        display block
@media (max-width: 680px)      
    .fancybox-overlay .fancybox-title
        font-size: .75em;
        bottom: 5em;